#status-picker.menu-3sdvDG .scroller-3BxosC, #guild-header-popout.menu-3sdvDG .scroller-3BxosC, #guild-header-popout.menu-3sdvDG [role="group"]{
    display: flex;
    padding: 0;
    overflow-y: unset;
}

.status-1fhblQ, .description-2L932D, .separator-2I32lJ, #guild-header-popout .label-22pbtT{
    display: none;
}

.statusItem-33LqPf{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.icon-1IxfJ2, .icon-LYJorE, .iconContainer-2-XQPY{
    height: 20px;
    width: 20px;
}

.item-1tOPte{
    padding: 10px;
}

.styleFixed-sX-yHV{
    width: unset;
    border-radius: 30px;
    overflow: hidden;
}

.customEmoji-2_2FwB{
    margin-right: 4px;
}

.item-1tOPte, .iconContainer-2-XQPY{
    margin:0;
    border-radius: 0;
}
